Credentialing-Delegation/new profile backup 2-12-2016/Service References/ServiceReference3/MIRRA.Claims.BillingGateway.Facade.Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MIRRA.Claims.BillingGateway.Facade.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MIRRA.Claims.BillingGateway.Facade.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFileDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileDetails" nillable="true" type="tns:FileDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileDetails" nillable="true" type="tns:ArrayOfFileDetails" />
  <xs:complexType name="FileDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgeInDays" type="xs:int" />
      <xs:element minOccurs="0" name="ControlNumber" type="xs:int" />
      <xs:element minOccurs="0" name="DateOfCreation" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncomeFileLoggerID" type="xs:int" />
      <xs:element minOccurs="0" name="Receiver" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileDetails" nillable="true" type="tns:FileDetails" />
</xs:schema>