Credentialing-Delegation/new profile backup 2-12-2016/Service References/ServiceReference3/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BillingBusinessServiceFacade" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BillingBusinessServiceFacadeTCPEndPoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MIRRA.Claims.BillingGateway.Facade.Service" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBillingBusinessServiceFacade_GetFileList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileList" />
  </wsdl:message>
  <wsdl:message name="IBillingBusinessServiceFacade_GetFileList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileListResponse" />
  </wsdl:message>
  <wsdl:message name="IBillingBusinessServiceFacade_GetOpenClaimsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOpenClaimsList" />
  </wsdl:message>
  <wsdl:message name="IBillingBusinessServiceFacade_GetOpenClaimsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOpenClaimsListResponse" />
  </wsdl:message>
  <wsdl:message name="IBillingBusinessServiceFacade_GetOnHoldClaimsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOnHoldClaimsList" />
  </wsdl:message>
  <wsdl:message name="IBillingBusinessServiceFacade_GetOnHoldClaimsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOnHoldClaimsListResponse" />
  </wsdl:message>
  <wsdl:message name="IBillingBusinessServiceFacade_GetRejectedClaimsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRejectedClaimsList" />
  </wsdl:message>
  <wsdl:message name="IBillingBusinessServiceFacade_GetRejectedClaimsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRejectedClaimsListResponse" />
  </wsdl:message>
  <wsdl:message name="IBillingBusinessServiceFacade_GetAcceptedClaimsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAcceptedClaimsList" />
  </wsdl:message>
  <wsdl:message name="IBillingBusinessServiceFacade_GetAcceptedClaimsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAcceptedClaimsListResponse" />
  </wsdl:message>
  <wsdl:message name="IBillingBusinessServiceFacade_GetDispatchedClaimsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDispatchedClaimsList" />
  </wsdl:message>
  <wsdl:message name="IBillingBusinessServiceFacade_GetDispatchedClaimsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDispatchedClaimsListResponse" />
  </wsdl:message>
  <wsdl:message name="IBillingBusinessServiceFacade_GetUnAckByCHClaimsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUnAckByCHClaimsList" />
  </wsdl:message>
  <wsdl:message name="IBillingBusinessServiceFacade_GetUnAckByCHClaimsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUnAckByCHClaimsListResponse" />
  </wsdl:message>
  <wsdl:message name="IBillingBusinessServiceFacade_GetRejectedByCHClaimsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRejectedByCHClaimsList" />
  </wsdl:message>
  <wsdl:message name="IBillingBusinessServiceFacade_GetRejectedByCHClaimsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRejectedByCHClaimsListResponse" />
  </wsdl:message>
  <wsdl:message name="IBillingBusinessServiceFacade_GetAcceptedByCHClaimsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAcceptedByCHClaimsList" />
  </wsdl:message>
  <wsdl:message name="IBillingBusinessServiceFacade_GetAcceptedByCHClaimsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAcceptedByCHClaimsListResponse" />
  </wsdl:message>
  <wsdl:message name="IBillingBusinessServiceFacade_GetUnackByPayerClaimsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUnackByPayerClaimsList" />
  </wsdl:message>
  <wsdl:message name="IBillingBusinessServiceFacade_GetUnackByPayerClaimsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUnackByPayerClaimsListResponse" />
  </wsdl:message>
  <wsdl:message name="IBillingBusinessServiceFacade_GetRejectedByPayerClaimsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRejectedByPayerClaimsList" />
  </wsdl:message>
  <wsdl:message name="IBillingBusinessServiceFacade_GetRejectedByPayerClaimsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRejectedByPayerClaimsListResponse" />
  </wsdl:message>
  <wsdl:message name="IBillingBusinessServiceFacade_GetAcceptedByPayerClaimsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAcceptedByPayerClaimsList" />
  </wsdl:message>
  <wsdl:message name="IBillingBusinessServiceFacade_GetAcceptedByPayerClaimsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAcceptedByPayerClaimsListResponse" />
  </wsdl:message>
  <wsdl:message name="IBillingBusinessServiceFacade_GetPendingClaimsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPendingClaimsList" />
  </wsdl:message>
  <wsdl:message name="IBillingBusinessServiceFacade_GetPendingClaimsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPendingClaimsListResponse" />
  </wsdl:message>
  <wsdl:message name="IBillingBusinessServiceFacade_GetDeniedByPayerClaimsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeniedByPayerClaimsList" />
  </wsdl:message>
  <wsdl:message name="IBillingBusinessServiceFacade_GetDeniedByPayerClaimsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeniedByPayerClaimsListResponse" />
  </wsdl:message>
  <wsdl:message name="IBillingBusinessServiceFacade_Generate837EDIFile_InputMessage">
    <wsdl:part name="parameters" element="tns:Generate837EDIFile" />
  </wsdl:message>
  <wsdl:message name="IBillingBusinessServiceFacade_Generate837EDIFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:Generate837EDIFileResponse" />
  </wsdl:message>
  <wsdl:message name="IBillingBusinessServiceFacade_Generate835EDIFile_InputMessage">
    <wsdl:part name="parameters" element="tns:Generate835EDIFile" />
  </wsdl:message>
  <wsdl:message name="IBillingBusinessServiceFacade_Generate835EDIFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:Generate835EDIFileResponse" />
  </wsdl:message>
  <wsdl:message name="IBillingBusinessServiceFacade_Get835FileList_InputMessage">
    <wsdl:part name="parameters" element="tns:Get835FileList" />
  </wsdl:message>
  <wsdl:message name="IBillingBusinessServiceFacade_Get835FileList_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get835FileListResponse" />
  </wsdl:message>
  <wsdl:message name="IBillingBusinessServiceFacade_Get277FileList_InputMessage">
    <wsdl:part name="parameters" element="tns:Get277FileList" />
  </wsdl:message>
  <wsdl:message name="IBillingBusinessServiceFacade_Get277FileList_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get277FileListResponse" />
  </wsdl:message>
  <wsdl:message name="IBillingBusinessServiceFacade_Get999FileList_InputMessage">
    <wsdl:part name="parameters" element="tns:Get999FileList" />
  </wsdl:message>
  <wsdl:message name="IBillingBusinessServiceFacade_Get999FileList_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get999FileListResponse" />
  </wsdl:message>
  <wsdl:message name="IBillingBusinessServiceFacade_UploadEDIFile_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadEDIFile" />
  </wsdl:message>
  <wsdl:message name="IBillingBusinessServiceFacade_UploadEDIFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadEDIFileResponse" />
  </wsdl:message>
  <wsdl:message name="IBillingBusinessServiceFacade_GetEOBReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEOBReport" />
  </wsdl:message>
  <wsdl:message name="IBillingBusinessServiceFacade_GetEOBReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEOBReportResponse" />
  </wsdl:message>
  <wsdl:portType name="IBillingBusinessServiceFacade">
    <wsdl:operation name="GetFileList">
      <wsdl:input wsaw:Action="http://tempuri.org/IBillingBusinessServiceFacade/GetFileList" message="tns:IBillingBusinessServiceFacade_GetFileList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBillingBusinessServiceFacade/GetFileListResponse" message="tns:IBillingBusinessServiceFacade_GetFileList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOpenClaimsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IBillingBusinessServiceFacade/GetOpenClaimsList" message="tns:IBillingBusinessServiceFacade_GetOpenClaimsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBillingBusinessServiceFacade/GetOpenClaimsListResponse" message="tns:IBillingBusinessServiceFacade_GetOpenClaimsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOnHoldClaimsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IBillingBusinessServiceFacade/GetOnHoldClaimsList" message="tns:IBillingBusinessServiceFacade_GetOnHoldClaimsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBillingBusinessServiceFacade/GetOnHoldClaimsListResponse" message="tns:IBillingBusinessServiceFacade_GetOnHoldClaimsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRejectedClaimsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IBillingBusinessServiceFacade/GetRejectedClaimsList" message="tns:IBillingBusinessServiceFacade_GetRejectedClaimsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBillingBusinessServiceFacade/GetRejectedClaimsListResponse" message="tns:IBillingBusinessServiceFacade_GetRejectedClaimsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAcceptedClaimsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IBillingBusinessServiceFacade/GetAcceptedClaimsList" message="tns:IBillingBusinessServiceFacade_GetAcceptedClaimsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBillingBusinessServiceFacade/GetAcceptedClaimsListResponse" message="tns:IBillingBusinessServiceFacade_GetAcceptedClaimsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDispatchedClaimsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IBillingBusinessServiceFacade/GetDispatchedClaimsList" message="tns:IBillingBusinessServiceFacade_GetDispatchedClaimsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBillingBusinessServiceFacade/GetDispatchedClaimsListResponse" message="tns:IBillingBusinessServiceFacade_GetDispatchedClaimsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUnAckByCHClaimsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IBillingBusinessServiceFacade/GetUnAckByCHClaimsList" message="tns:IBillingBusinessServiceFacade_GetUnAckByCHClaimsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBillingBusinessServiceFacade/GetUnAckByCHClaimsListResponse" message="tns:IBillingBusinessServiceFacade_GetUnAckByCHClaimsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRejectedByCHClaimsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IBillingBusinessServiceFacade/GetRejectedByCHClaimsList" message="tns:IBillingBusinessServiceFacade_GetRejectedByCHClaimsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBillingBusinessServiceFacade/GetRejectedByCHClaimsListResponse" message="tns:IBillingBusinessServiceFacade_GetRejectedByCHClaimsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAcceptedByCHClaimsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IBillingBusinessServiceFacade/GetAcceptedByCHClaimsList" message="tns:IBillingBusinessServiceFacade_GetAcceptedByCHClaimsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBillingBusinessServiceFacade/GetAcceptedByCHClaimsListResponse" message="tns:IBillingBusinessServiceFacade_GetAcceptedByCHClaimsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUnackByPayerClaimsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IBillingBusinessServiceFacade/GetUnackByPayerClaimsList" message="tns:IBillingBusinessServiceFacade_GetUnackByPayerClaimsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBillingBusinessServiceFacade/GetUnackByPayerClaimsListResponse" message="tns:IBillingBusinessServiceFacade_GetUnackByPayerClaimsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRejectedByPayerClaimsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IBillingBusinessServiceFacade/GetRejectedByPayerClaimsList" message="tns:IBillingBusinessServiceFacade_GetRejectedByPayerClaimsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBillingBusinessServiceFacade/GetRejectedByPayerClaimsListResponse" message="tns:IBillingBusinessServiceFacade_GetRejectedByPayerClaimsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAcceptedByPayerClaimsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IBillingBusinessServiceFacade/GetAcceptedByPayerClaimsList" message="tns:IBillingBusinessServiceFacade_GetAcceptedByPayerClaimsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBillingBusinessServiceFacade/GetAcceptedByPayerClaimsListResponse" message="tns:IBillingBusinessServiceFacade_GetAcceptedByPayerClaimsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPendingClaimsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IBillingBusinessServiceFacade/GetPendingClaimsList" message="tns:IBillingBusinessServiceFacade_GetPendingClaimsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBillingBusinessServiceFacade/GetPendingClaimsListResponse" message="tns:IBillingBusinessServiceFacade_GetPendingClaimsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeniedByPayerClaimsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IBillingBusinessServiceFacade/GetDeniedByPayerClaimsList" message="tns:IBillingBusinessServiceFacade_GetDeniedByPayerClaimsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBillingBusinessServiceFacade/GetDeniedByPayerClaimsListResponse" message="tns:IBillingBusinessServiceFacade_GetDeniedByPayerClaimsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Generate837EDIFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IBillingBusinessServiceFacade/Generate837EDIFile" message="tns:IBillingBusinessServiceFacade_Generate837EDIFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBillingBusinessServiceFacade/Generate837EDIFileResponse" message="tns:IBillingBusinessServiceFacade_Generate837EDIFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Generate835EDIFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IBillingBusinessServiceFacade/Generate835EDIFile" message="tns:IBillingBusinessServiceFacade_Generate835EDIFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBillingBusinessServiceFacade/Generate835EDIFileResponse" message="tns:IBillingBusinessServiceFacade_Generate835EDIFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get835FileList">
      <wsdl:input wsaw:Action="http://tempuri.org/IBillingBusinessServiceFacade/Get835FileList" message="tns:IBillingBusinessServiceFacade_Get835FileList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBillingBusinessServiceFacade/Get835FileListResponse" message="tns:IBillingBusinessServiceFacade_Get835FileList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get277FileList">
      <wsdl:input wsaw:Action="http://tempuri.org/IBillingBusinessServiceFacade/Get277FileList" message="tns:IBillingBusinessServiceFacade_Get277FileList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBillingBusinessServiceFacade/Get277FileListResponse" message="tns:IBillingBusinessServiceFacade_Get277FileList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get999FileList">
      <wsdl:input wsaw:Action="http://tempuri.org/IBillingBusinessServiceFacade/Get999FileList" message="tns:IBillingBusinessServiceFacade_Get999FileList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBillingBusinessServiceFacade/Get999FileListResponse" message="tns:IBillingBusinessServiceFacade_Get999FileList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadEDIFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IBillingBusinessServiceFacade/UploadEDIFile" message="tns:IBillingBusinessServiceFacade_UploadEDIFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBillingBusinessServiceFacade/UploadEDIFileResponse" message="tns:IBillingBusinessServiceFacade_UploadEDIFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEOBReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IBillingBusinessServiceFacade/GetEOBReport" message="tns:IBillingBusinessServiceFacade_GetEOBReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBillingBusinessServiceFacade/GetEOBReportResponse" message="tns:IBillingBusinessServiceFacade_GetEOBReport_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BillingBusinessServiceFacadeTCPEndPoint" type="tns:IBillingBusinessServiceFacade">
    <wsp:PolicyReference URI="#BillingBusinessServiceFacadeTCPEndPoint_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetFileList">
      <soap12:operation soapAction="http://tempuri.org/IBillingBusinessServiceFacade/GetFileList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOpenClaimsList">
      <soap12:operation soapAction="http://tempuri.org/IBillingBusinessServiceFacade/GetOpenClaimsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOnHoldClaimsList">
      <soap12:operation soapAction="http://tempuri.org/IBillingBusinessServiceFacade/GetOnHoldClaimsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRejectedClaimsList">
      <soap12:operation soapAction="http://tempuri.org/IBillingBusinessServiceFacade/GetRejectedClaimsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAcceptedClaimsList">
      <soap12:operation soapAction="http://tempuri.org/IBillingBusinessServiceFacade/GetAcceptedClaimsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDispatchedClaimsList">
      <soap12:operation soapAction="http://tempuri.org/IBillingBusinessServiceFacade/GetDispatchedClaimsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnAckByCHClaimsList">
      <soap12:operation soapAction="http://tempuri.org/IBillingBusinessServiceFacade/GetUnAckByCHClaimsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRejectedByCHClaimsList">
      <soap12:operation soapAction="http://tempuri.org/IBillingBusinessServiceFacade/GetRejectedByCHClaimsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAcceptedByCHClaimsList">
      <soap12:operation soapAction="http://tempuri.org/IBillingBusinessServiceFacade/GetAcceptedByCHClaimsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnackByPayerClaimsList">
      <soap12:operation soapAction="http://tempuri.org/IBillingBusinessServiceFacade/GetUnackByPayerClaimsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRejectedByPayerClaimsList">
      <soap12:operation soapAction="http://tempuri.org/IBillingBusinessServiceFacade/GetRejectedByPayerClaimsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAcceptedByPayerClaimsList">
      <soap12:operation soapAction="http://tempuri.org/IBillingBusinessServiceFacade/GetAcceptedByPayerClaimsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPendingClaimsList">
      <soap12:operation soapAction="http://tempuri.org/IBillingBusinessServiceFacade/GetPendingClaimsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeniedByPayerClaimsList">
      <soap12:operation soapAction="http://tempuri.org/IBillingBusinessServiceFacade/GetDeniedByPayerClaimsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Generate837EDIFile">
      <soap12:operation soapAction="http://tempuri.org/IBillingBusinessServiceFacade/Generate837EDIFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Generate835EDIFile">
      <soap12:operation soapAction="http://tempuri.org/IBillingBusinessServiceFacade/Generate835EDIFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get835FileList">
      <soap12:operation soapAction="http://tempuri.org/IBillingBusinessServiceFacade/Get835FileList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get277FileList">
      <soap12:operation soapAction="http://tempuri.org/IBillingBusinessServiceFacade/Get277FileList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get999FileList">
      <soap12:operation soapAction="http://tempuri.org/IBillingBusinessServiceFacade/Get999FileList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadEDIFile">
      <soap12:operation soapAction="http://tempuri.org/IBillingBusinessServiceFacade/UploadEDIFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEOBReport">
      <soap12:operation soapAction="http://tempuri.org/IBillingBusinessServiceFacade/GetEOBReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BillingBusinessServiceFacade">
    <wsdl:port name="BillingBusinessServiceFacadeTCPEndPoint" binding="tns:BillingBusinessServiceFacadeTCPEndPoint">
      <soap12:address location="net.tcp://172.30.12.129:8018/Design_Time_Addresses/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://172.30.12.129:8018/Design_Time_Addresses/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>Abhishek.Sarkar@Pratian.com</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>