Credentialing-Delegation/new profile backup 2-12-2016/Service References/ServiceReference1/ProviderTypeService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AHC.DataService.MDM.Common.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AHC.DataService.MDM.Common.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.61.99.89:8012/ProviderTypeService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AHC.DataService.MDM.Common.Enums" />
  <xs:complexType name="ArrayOfProviderType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProviderType" nillable="true" type="tns:ProviderType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProviderType" nillable="true" type="tns:ArrayOfProviderType" />
  <xs:complexType name="ProviderType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProviderTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="Specialities" nillable="true" type="tns:ArrayOfSpecialty" />
      <xs:element minOccurs="0" name="SpecialtyBoards" nillable="true" type="tns:ArrayOfSpecialtyBoard" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AHC.DataService.MDM.Common.Enums" minOccurs="0" name="StatusType" nillable="true" type="q1:StatusType" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProviderType" nillable="true" type="tns:ProviderType" />
  <xs:complexType name="ArrayOfSpecialty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Specialty" nillable="true" type="tns:Specialty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSpecialty" nillable="true" type="tns:ArrayOfSpecialty" />
  <xs:complexType name="Specialty">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProviderTypes" nillable="true" type="tns:ArrayOfProviderType" />
      <xs:element minOccurs="0" name="SpecialtyID" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AHC.DataService.MDM.Common.Enums" minOccurs="0" name="StatusType" nillable="true" type="q2:StatusType" />
      <xs:element minOccurs="0" name="TaxonomyCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Specialty" nillable="true" type="tns:Specialty" />
  <xs:complexType name="ArrayOfSpecialtyBoard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SpecialtyBoard" nillable="true" type="tns:SpecialtyBoard" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSpecialtyBoard" nillable="true" type="tns:ArrayOfSpecialtyBoard" />
  <xs:complexType name="SpecialtyBoard">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProviderTypes" nillable="true" type="tns:ArrayOfProviderType" />
      <xs:element minOccurs="0" name="SpecialtyBoardID" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AHC.DataService.MDM.Common.Enums" minOccurs="0" name="StatusType" nillable="true" type="q3:StatusType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpecialtyBoard" nillable="true" type="tns:SpecialtyBoard" />
</xs:schema>