Credentialing-Delegation/new profile backup 2-12-2016/Service References/ServiceReference1/ProviderTypeService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.61.99.89:8012/ProviderTypeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AHC.DataService.MDM.Common.Entities" />
  <xs:import schemaLocation="http://192.61.99.89:8012/ProviderTypeService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetAllProviderTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProviderTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AHC.DataService.MDM.Common.Entities" minOccurs="0" name="GetAllProviderTypesResult" nillable="true" type="q1:ArrayOfProviderType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProviderTypesWithSelectedcolumns">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="providerType" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProviderTypesWithSelectedcolumnsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllProviderTypesWithSelectedcolumnsResult" nillable="true" type="q2:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProviderTypesByProviderTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProviderTitle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProviderTypesByProviderTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AHC.DataService.MDM.Common.Entities" minOccurs="0" name="GetAllProviderTypesByProviderTitleResult" nillable="true" type="q3:ArrayOfProviderType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProviderTypeByProviderCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="providerCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProviderTypeByProviderCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AHC.DataService.MDM.Common.Entities" minOccurs="0" name="GetAllProviderTypeByProviderCodeResult" nillable="true" type="q4:ArrayOfProviderType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProviderTypeByProviderCodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="providerCodes" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProviderTypeByProviderCodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AHC.DataService.MDM.Common.Entities" minOccurs="0" name="GetAllProviderTypeByProviderCodesResult" nillable="true" type="q6:ArrayOfProviderType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProviderTypesByProviderTitles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ProviderTitles" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProviderTypesByProviderTitlesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AHC.DataService.MDM.Common.Entities" minOccurs="0" name="GetAllProviderTypesByProviderTitlesResult" nillable="true" type="q8:ArrayOfProviderType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProviderType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AHC.DataService.MDM.Common.Entities" minOccurs="0" name="providerType" nillable="true" type="q9:ProviderType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProviderTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AHC.DataService.MDM.Common.Entities" minOccurs="0" name="UpdateProviderTypeResult" nillable="true" type="q10:ProviderType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProviderType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AHC.DataService.MDM.Common.Entities" minOccurs="0" name="providerType" nillable="true" type="q11:ProviderType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProviderTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AHC.DataService.MDM.Common.Entities" minOccurs="0" name="AddProviderTypeResult" nillable="true" type="q12:ProviderType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>