Credentialing-Delegation/new profile backup 2-12-2016/Service References/ServiceReference1/ProviderTypeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProviderTypeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.61.99.89:8012/ProviderTypeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.61.99.89:8012/ProviderTypeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.61.99.89:8012/ProviderTypeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AHC.DataService.MDM.Common.Entities" />
      <xsd:import schemaLocation="http://192.61.99.89:8012/ProviderTypeService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AHC.DataService.MDM.Common.Enums" />
      <xsd:import schemaLocation="http://192.61.99.89:8012/ProviderTypeService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProviderTypeService_GetAllProviderTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProviderTypes" />
  </wsdl:message>
  <wsdl:message name="IProviderTypeService_GetAllProviderTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProviderTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IProviderTypeService_GetAllProviderTypesWithSelectedcolumns_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProviderTypesWithSelectedcolumns" />
  </wsdl:message>
  <wsdl:message name="IProviderTypeService_GetAllProviderTypesWithSelectedcolumns_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProviderTypesWithSelectedcolumnsResponse" />
  </wsdl:message>
  <wsdl:message name="IProviderTypeService_GetAllProviderTypesByProviderTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProviderTypesByProviderTitle" />
  </wsdl:message>
  <wsdl:message name="IProviderTypeService_GetAllProviderTypesByProviderTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProviderTypesByProviderTitleResponse" />
  </wsdl:message>
  <wsdl:message name="IProviderTypeService_GetAllProviderTypeByProviderCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProviderTypeByProviderCode" />
  </wsdl:message>
  <wsdl:message name="IProviderTypeService_GetAllProviderTypeByProviderCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProviderTypeByProviderCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IProviderTypeService_GetAllProviderTypeByProviderCodes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProviderTypeByProviderCodes" />
  </wsdl:message>
  <wsdl:message name="IProviderTypeService_GetAllProviderTypeByProviderCodes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProviderTypeByProviderCodesResponse" />
  </wsdl:message>
  <wsdl:message name="IProviderTypeService_GetAllProviderTypesByProviderTitles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProviderTypesByProviderTitles" />
  </wsdl:message>
  <wsdl:message name="IProviderTypeService_GetAllProviderTypesByProviderTitles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProviderTypesByProviderTitlesResponse" />
  </wsdl:message>
  <wsdl:message name="IProviderTypeService_UpdateProviderType_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProviderType" />
  </wsdl:message>
  <wsdl:message name="IProviderTypeService_UpdateProviderType_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProviderTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IProviderTypeService_AddProviderType_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProviderType" />
  </wsdl:message>
  <wsdl:message name="IProviderTypeService_AddProviderType_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProviderTypeResponse" />
  </wsdl:message>
  <wsdl:portType name="IProviderTypeService">
    <wsdl:operation name="GetAllProviderTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IProviderTypeService/GetAllProviderTypes" message="tns:IProviderTypeService_GetAllProviderTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProviderTypeService/GetAllProviderTypesResponse" message="tns:IProviderTypeService_GetAllProviderTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProviderTypesWithSelectedcolumns">
      <wsdl:input wsaw:Action="http://tempuri.org/IProviderTypeService/GetAllProviderTypesWithSelectedcolumns" message="tns:IProviderTypeService_GetAllProviderTypesWithSelectedcolumns_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProviderTypeService/GetAllProviderTypesWithSelectedcolumnsResponse" message="tns:IProviderTypeService_GetAllProviderTypesWithSelectedcolumns_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProviderTypesByProviderTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/IProviderTypeService/GetAllProviderTypesByProviderTitle" message="tns:IProviderTypeService_GetAllProviderTypesByProviderTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProviderTypeService/GetAllProviderTypesByProviderTitleResponse" message="tns:IProviderTypeService_GetAllProviderTypesByProviderTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProviderTypeByProviderCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IProviderTypeService/GetAllProviderTypeByProviderCode" message="tns:IProviderTypeService_GetAllProviderTypeByProviderCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProviderTypeService/GetAllProviderTypeByProviderCodeResponse" message="tns:IProviderTypeService_GetAllProviderTypeByProviderCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProviderTypeByProviderCodes">
      <wsdl:input wsaw:Action="http://tempuri.org/IProviderTypeService/GetAllProviderTypeByProviderCodes" message="tns:IProviderTypeService_GetAllProviderTypeByProviderCodes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProviderTypeService/GetAllProviderTypeByProviderCodesResponse" message="tns:IProviderTypeService_GetAllProviderTypeByProviderCodes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProviderTypesByProviderTitles">
      <wsdl:input wsaw:Action="http://tempuri.org/IProviderTypeService/GetAllProviderTypesByProviderTitles" message="tns:IProviderTypeService_GetAllProviderTypesByProviderTitles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProviderTypeService/GetAllProviderTypesByProviderTitlesResponse" message="tns:IProviderTypeService_GetAllProviderTypesByProviderTitles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProviderType">
      <wsdl:input wsaw:Action="http://tempuri.org/IProviderTypeService/UpdateProviderType" message="tns:IProviderTypeService_UpdateProviderType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProviderTypeService/UpdateProviderTypeResponse" message="tns:IProviderTypeService_UpdateProviderType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProviderType">
      <wsdl:input wsaw:Action="http://tempuri.org/IProviderTypeService/AddProviderType" message="tns:IProviderTypeService_AddProviderType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProviderTypeService/AddProviderTypeResponse" message="tns:IProviderTypeService_AddProviderType_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProviderTypeService" type="tns:IProviderTypeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllProviderTypes">
      <soap:operation soapAction="http://tempuri.org/IProviderTypeService/GetAllProviderTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProviderTypesWithSelectedcolumns">
      <soap:operation soapAction="http://tempuri.org/IProviderTypeService/GetAllProviderTypesWithSelectedcolumns" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProviderTypesByProviderTitle">
      <soap:operation soapAction="http://tempuri.org/IProviderTypeService/GetAllProviderTypesByProviderTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProviderTypeByProviderCode">
      <soap:operation soapAction="http://tempuri.org/IProviderTypeService/GetAllProviderTypeByProviderCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProviderTypeByProviderCodes">
      <soap:operation soapAction="http://tempuri.org/IProviderTypeService/GetAllProviderTypeByProviderCodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProviderTypesByProviderTitles">
      <soap:operation soapAction="http://tempuri.org/IProviderTypeService/GetAllProviderTypesByProviderTitles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProviderType">
      <soap:operation soapAction="http://tempuri.org/IProviderTypeService/UpdateProviderType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProviderType">
      <soap:operation soapAction="http://tempuri.org/IProviderTypeService/AddProviderType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProviderTypeService">
    <wsdl:port name="BasicHttpBinding_IProviderTypeService" binding="tns:BasicHttpBinding_IProviderTypeService">
      <soap:address location="http://192.61.99.89:8012/ProviderTypeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>