Credentialing-Delegation/new profile backup 2-12-2016/Service References/ServiceReference2/GetAllEnitites2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AHC.DataService.MDM.Common.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AHC.DataService.MDM.Common.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEntitySummary">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntitySummary" nillable="true" type="tns:EntitySummary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntitySummary" nillable="true" type="tns:ArrayOfEntitySummary" />
  <xs:complexType name="EntitySummary">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActiveCount" type="xs:int" />
      <xs:element minOccurs="0" name="EntityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InActiveCount" type="xs:int" />
      <xs:element minOccurs="0" name="LastModifiedDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntitySummary" nillable="true" type="tns:EntitySummary" />
</xs:schema>