Credentialing-Delegation/new profile backup 2-12-2016/Service References/ServiceReference2/GetAllEnitites1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.61.99.89:8012/GetAllEnitites.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AHC.DataService.MDM.Common.Entities" />
  <xs:element name="GetAllEntitiesSummary">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEntitiesSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AHC.DataService.MDM.Common.Entities" minOccurs="0" name="GetAllEntitiesSummaryResult" nillable="true" type="q1:ArrayOfEntitySummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>